@charset "utf-8";

$backgroundColor: #F4F4F4 !default; // 背景色 F4F4F4

// H5新流程
$goldThemeColor :#ffdf58;

$deepGoldThemeColor:#FF9210;

$goldgradientColor: linear-gradient(to right, #F9C937, #FFD34E);
